canvas:not(#ribbon-canvas),
#web_bg {
  animation: to_show 4s;
}
#ribbon-canvas {
  animation: ribbon_to_show 4s;
}
@-moz-keyframes ribbon_to_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
@-webkit-keyframes ribbon_to_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
@-o-keyframes ribbon_to_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes ribbon_to_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}
